 div#imagen {
   background-image:  url(../img/img-thing.jpg);
   background-repeat: no-repeat;
   background-position:center; 
   height: 300px;
   }
   div#text{
   position: absolute; left: 50%;
   }
   div#title{
   text-align: center; 
   font-family: MyFont, serif;
   }
    .text {
   position: relative;
   left: -50%;
   width: 300px;	    
   text-align: center; 
   font-family: MyFont, serif;
   /*font-family: Impact, sans-serif;*/ 
   font-size: 30px;
   color: #ffffff;
   text-shadow: 0 0 10px #000;
}
   .header{
   	top: 10px;
   }
   
   @font-face{
	 font-family: MyFont; 
	 src: url('../../impact.ttf') format('truetype');
   }